---
import CalendarPlus from "lucide-astro/CalendarPlus";

interface Props {
  addToCalendarText: string;
  href: string;
}

const { addToCalendarText, href } = Astro.props;
---
<a href={href} target="_blank" rel="noopener noreferrer" class="btn btn-xs btn-primary gap-1.5">
  <CalendarPlus size={14} />
  {addToCalendarText}
</a>
